PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:password@localhost:5432/serial_validation
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=serial_validation
ACCESS_KEY=sample_access_key
UPLOAD_DIR=uploads/tmp
